<%= form_with(model: node, local: true, url: {controller: 'nodes', action: 'create_q'}) do |form| %>
  <div class="field">
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit '次へ'%>
  </div>
<% end %>
