<div class="ui one column stackable center aligned page grid">
  <div class="column fourteen wide">
    <div class="ui segment users_box">
      <h2 class="new_title">title:<%= @post_title %></h2><br>

      <% if @first_time == true %>
        <h2 id="new_question">最初の質問を設定してください</h2>
      <% else %>
        <h2 id="new_question">新しい質問を追加</h2>
      <% end %>

      <% if @node_a.present? %>
        <h2>1つ前の答え:<%= @node_a.content %></h2>
      <% end %>

      <p id="notice_new_q"><%= flash[:notice] %></p>
      <%= render 'form_q', node: @node %>
    </div>
  </div>
</div>
