<div class="ui menu">
  <div class="right menu">
    <%= link_to '新規投稿', new_post_path, class: "item" %>
    <% if user_signed_in? %>
      <%= link_to 'マイページ',  user_path(current_user), class: "item" %>
      <%= link_to 'ログアウト',  destroy_user_session_path, :method => :delete, class: "item" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "item" %>
    <% end %>
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
