<div class="ui menu">
  <div class="left menu">
    <%= link_to posts_path do %>
      <%= image_tag 'logo.png', class: "item", id: "menu_logo" %>
    <% end %>
  </div>
  <div class="right menu">
    <div class="item">
      <form class="ui transparent icon input" action="/posts/search" accept-charset="UTF-8" method="get">
          <input placeholder="投稿タイトルを検索" type="text" name="title" id="title">
          <button id="posts_search_button" type="submit" name="commit" value="search">
            <i class="fas fa-search"></i>
          </button>
      </form>
    </div>
    <a class="item" href="/posts/new">
      <i class="fas fa-plus"> 新規投稿</i>
    </a>
    <a class="item" href="/posts">
      <i class="fas fa-th"> 最新の投稿一覧</i>
    </a>
    <a class="item" href="/users">
      <i class="fas fa-users"> ユーザー一覧</i>
    </a>
    <% if user_signed_in? %>
      <a class="item" href="/users/<%= current_user.id %>">
        <i class="far fa-user"> マイページ</i>
      </a>
      <a class="item" rel="nofollow" data-method="delete" href="/users/sign_out">
        <i class="fas fa-sign-out-alt"> ログアウト</i>
      </a>
    <% else %>
      <a class="item" href="/users/sign_up">
        <i class="fas fa-user-plus"> 新規ユーザー作成</i>
      </a>
      <a class="item" href="/users/sign_in">
        <i class="fas fa-sign-in-alt"> ログイン</i>
      </a>
    <% end %>
  </div>
</div>
